body {
    font-family: 'Teko', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

header {
    display: flex;
    padding: 1rem 2vw;
    align-items: flex-end;
    background-color: #000000;
}
header div {
    padding-left: 2vw;
}
header h1 {
    background-color: #000000;
    color: white;
    padding: 1rem 1rem 0 1rem;
    margin: 0;
}
header p {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    color: white;
    background-color: black;
    letter-spacing: 5.3px;
}
/*small screen stuff*/
@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0;
        padding: 0 0vw;
        list-style-type: none;
    }
    nav a {
        display: block;
        padding: .8rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: capitalize;
        text-align: center;
        border-bottom: solid 1px #aaa;
        color: black;
    }
nav .active a {
        background-color: black;
        color: white;
    }
} /* end of the media */
/*BIG SCREENS*/
@media only screen and (min-width: 601px) {
    nav {
    color: white;
    padding: .5rem;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    display: block;
    padding: .2rem 1rem;
}
nav li.active a {
    color: orangered;
}
nav a:hover {
    color: blue;
}
}

main {
    padding: 1rem
}
main h1 {
    color: purple;
}
main h2 {
    margin-bottom: .2rem
}
main p {
    color: lightslategray;
    margin: 0 0 .3rem 0;
}
main a {
    color: lightslategray;
}
main a:hover {
    color: red;
}
main ol {
    padding: .5rem 2rem;
    background-color: black;
    color:white;
    border-radius: .5rem;
    width: 10.59rem
}
main dl {
    font-weight: 700;
}
main dl dd {
    font-weight: 300;
    margin: 0 2rem;
}
main address {
    font-style: normal;
    padding: .5rem;
    border: 2px solid;
    border-radius: .5rem;
    width: 15rem
}
figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}
figure.wrapped img {
    width: 100%;
    height: auto;
}
figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}
div.gallery {
    display: flex;
    flex-wrap: wrap;
}
div.gallery figure {
    margin: .5rem 2% 0 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #b64e11;
}
div.gallery img:hover {
    box-shadow: 0px 0px 10px black;
}
.myform fieldset {
    border: 1px solid;
    color: black;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.myform legend {
    font-size: .8rem;
}
.myform label {
    margin: .5rem;
}
.myform label, .myform select, .myform [type=text], .myform [type=email], .myform [type=tel], .myform textarea {
    display: block;   
}
.myform [type=text], .myform [type=tel], .myform [type=email], .myform select, .myform textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Teko', sans-serif;
    font-weight: 200;
}
.myform textarea {
    height: 6rem;
}
.myform :required {
    background-color: rgba(156,51,53,0.1);
}
.myform [type=submit] {
    background-color: rgb(248, 231, 80);
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: black;
    margin: 1rem 0 0;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 1rem 0;
    font-size: .8rem;
    font-family: 'Teko', sans-serif;
}
table.apple-products {
    width: 100%;
    border-collapse: collapse;
    
}
table.apple-products th {
    background-color: black;
    color: white;
    padding: .5rem 2vw;
    text-align: left;
}
table.apple-products td {
    color: lightgray;
    padding: .4rem 2vw;
    color: black;
}
table.apple-products tr:nth-child(odd) {
    background-color: #f7f7f7;
}
table.apple-products tr:hover {
    background-color: darkred;
}
footer a {
    color: white;
}
footer a:hover {
    color:red;
}
header, nav, main, footer{
    max-width: 64rem;
    margin: 0 auto;
}
